body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

h1 {
    color: #333;
    margin-top: 50px;
}

#content {
    margin-top: 20px;
}

button {
    margin: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
}

button:hover {
    background-color: #0056b3;
}

#prediction-result p {
    margin: 10px 0;
    font-size: 18px;
    visibility: hidden;
}

#dog-image {
    max-width: 90%; /* or a specific pixel value like 600px */
    max-height: 400px; /* Adjust the maximum height as needed */
    height: auto; /* Maintain aspect ratio */
    /*display: block; /* Allows margin: auto to center the image horizontally */
    margin: 20px auto; /* Adds some space above and below the image, and centers it horizontally */
    border-radius: 10px; /* Optional: Adds rounded corners to the image */
}

.visible {
    visibility: visible;
}

#image-name, #upload-status {
    color: #555;
    font-style: italic;
    min-height: 20px; /* Reserve space for one line of text */
    visibility: hidden; /* Use visibility instead of 'hidden' attribute to occupy space */
}

/* When the message is displayed, change visibility */
#image-name.visible, #upload-status.visible {
    visibility: visible;
}
